{% extends "base.twig" %}
{% block content %}
    <div class="row">
        <a class="button" href="login_redirect/gitlab">Login with GitLab</a>
    </div>
    <div class="gutter"></div>
    <div class="row">
        <a class="button" href="login_redirect/google">Login with Google</a>
    </div>
{% endblock %}